@import 'bootstrap/bootstrap.css';
$opacity: 0.85;

@keyframes ajax-in {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-flow: row wrap;
    display: flex;
}
li {
    img {
        max-width: 120px;
    }

    p {
        font-size: 14px;
    }

    display: flex;
    flex-flow: column;
    animation: ajax-in 0.5s;
    background: #FFFFFF;
    margin: 6px;
    padding: 6px;
    width: 150px;
    border: 3px solid #aa2914;
    overflow: hidden;
    box-shadow: 6px 6px 20px black;
}
body {
    background: black;
    background-image: url('../../../assets/imgs/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    min-height: 100vh;
}
#wine_form {
    color: black;
    padding: 4px;
    background: white;
    opacity: $opacity;
}
#loader {
    margin: 6px;
}
h3.title {
    color: white;
    background: #1d221b;
    padding: 6px;
    opacity: $opacity;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
}
